<tr>
  <td><%= book.id %></td>
  <td><%= book.name %></td>
  <td><%= book.category_id %></td>
  <td><%= book.author_id %></td>
  <td><span><%= book.description %></span></td>
  <td>
    <a href="<%= admin_book_path(book.id) %>" type="button" class="btn btn-info m-1"><i class="fa fa-info-circle"></i></a>
    <a href="<%= edit_admin_book_path(book.id) %>" type="button" class="btn btn-primary m-1"><i class="fa fa-edit"></i></a>
    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#deleteModal<%=book.id%>">
      <i class="fa fa-trash"></i>
    </button>
    <!-- The Modal -->
  <div class="modal" id="deleteModal<%=book.id%>">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          You sure delete book with id: <%= book.id %>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <%= link_to "Delete", admin_book_path(book.id), method: :delete, class: "btn btn-danger" %>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </td>
</tr>