<h1>Admin::Authors#edit</h1>
<%= form_for [:admin, @author] do |author|%>
	<div class="form-group">
		<%= author.label :id %>
		<%= author.text_field :id, class: "form-control", disabled: "disabled"%>
	</div>
	<div class="form-group">
		<%= author.label :name %>
		<%= author.text_field :name, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= author.label :description %>
		<%= author.text_area :description, class: "form-control"%>
	</div>
	<%= author.button "Edit", class: "btn btn-primary" %>
	<%= link_to "Cancel", admin_author_path, class: "btn btn-secondary" %>
	<%= link_to "Delete", [:admin ,@author], method: :delete, data: {confirm: "You sure?" }, class: "btn btn-danger" %>
<% end %>