<div class="bookCoverContainer p-2">
  <%= link_to book_path(book.id), id: "book-#{book.id}",:data => {:'trigger' => 'hover', :'html' => true, :'toggle' => 'popover'} do %>
    <%= image_tag book.display_image(115, 180) if book.image.attached? %>
  <% end %>
  <div id="popover-book-<%= book.id %>" class="d-none">
    <b><%= book.name %></b>
    <p>by: <%= book.author_name %></p>
  </div>
</div>
