<div class="row pt-5">
	<div class="col-4 center">
		<%= image_tag @book.display_image(250, 357) if @book.image.attached? %>
		<div>
			<% if @rate.present? %>
				<%= hidden_field_tag 'input', @rate.id, class: "rateId"%>
				<%= hidden_field_tag 'input', @rate.star, class: "rateNumber"%>
			<% else %>
				<%= hidden_field_tag 'input', 0, class: "rateNumber"%>
			<% end %>
			<%= render 'rates/form'%>
		</div>
		<div>
			<%= link_to "Review", new_review_path(book_id: @book.id ), class:"btn btn-primary" %>
		</div>
	</div>
	<div class="col-8">
		<div class="d-flex flex-column bd-highlight mb-3 justify-content-start">
			<div class="bd-highlight" id="bookTitle">
				<h2 class="text-left"><%= @book.name %></h2>
			</div>
			<div class="bd-highlight" id="bookAuthor">
				<div><span>by </span><%= link_to @book.author_name, '#' %></div>
			</div>
			<div class="bd-highlight" id="bookDescription">
				<div class="pt-4">
					<%= @book.description %>
				</div>
			</div>
		</div>
	</div>
</div>

