<section class="show-book">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">

				<img style="width: 150px" src="https://upload.wikimedia.org/wikipedia/en/b/bd/Doraemon_character.png">

			</div>
			<div class="col-sm-6">
				<h1><%= @book.name %></h1>
				<div class="col-sm-12">
					<span>by &nbsp</span><span><%= @book.author.name %></span>
				</div>
				<div class="col-sm-12">
					<span>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</span>
					<%= render 'rates/form'%>
				</div>
				<div class="col-sm-12">
					<%= @book.description %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				Doraemon, a cat shaped robot which came from the 22nd century in the future, goes back in time in order to help Nobita, a below average lazy kid, to make his life less miserable and improve his descendent's life. With many of Doreamon's gadgets from the future, Nobita's life will never be as the same.

				This title is a classic manga/anime that dates back to 1973/08 and is still a child's favorite even today.
			</div>
		</div>
	</div>
</section>
<%= link_to "Review", new_review_path(book_id: @book.id ), class:"btn btn-primary" %>