<title>Review <%= @review.book.name %></title>
<section class="review-book">
	<div class="container-fluid">
		<div class="row">
			<h1><%= @review.book.name %></h1>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<img width="50px" src="https://upload.wikimedia.org/wikipedia/en/b/bd/Doraemon_character.png">
			</div>
			<div class="col-sm-10">
				<b><%= @review.book.name %></b><br>
				by <b><%= @review.book.author.name %></b>
			</div>
		</div>
		<div class="row">
			My rating:
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		</div>
		<div class="row">
			<p><%= @review.content.html_safe %></p>
		</div>
	</div>
</section>

<button id="btn_comment" class="btn btn-primary">Comment</button>

<div style="display: none" id="div01" class="field">

	<input id="user_id" hidden="" type="number" value="<%=current_user.id %>">
	<textarea style="display: inline-block;" id="content" class="form-control" cols="15" rows="5"></textarea>
	<input id="targetable_type" hidden="" type="string" value="Review">
	<input id="targetable_id" hidden="" type="number" value="<%= @review.id%>">
	<input id="user_name" hidden="" type="text" value="<%=current_user.name %>">	
	<button id="cmt_submit" class="btn btn-primary">Submit comment</button>	
</div>
<div id="CommentContainer"></div><hr>

<div>
	<%= render @comments %>
	<!-- giống như việc "comments/comment",
	nếu chỉ 
-->
</div>