<header class="bg-dark siteHeader">
  <div class="container">
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <!-- Brand/logo -->
      <%= link_to "AmazingGoodReads", root_path, id: "logo", class: "navbar-brand" %>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item"><%= link_to "Home", root_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "Books", books_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "Sin up", signup_path, class:"nav-link" %></li>
        <% if logged_in? %>
        <li class="nav-item"><%= link_to "Users All", users_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "My Books", favorites_path, class:"nav-link" %></li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            Account
          </a>
          <div class="dropdown-menu">
            <%= link_to "Profile", current_user, class: "dropdown-item" %>
            <%= link_to "Edit", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class:"nav-link", 'data-toggle':"modal",'data-target':"#loginModal" %></li>
        <div class="modal" id="loginModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= form_for(:session, url: login_path) do |f| %>
              <div class="modal-body">
                  <div class="loginError"></div>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Log in", class: "btn btn-primary login-btn" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
          <%= javascript_pack_tag 'loginModal'%>
        <% end %>
        <form class="form-inline autocomplete" action="/books">
          <input id="searchBook" name="searchValue" class="form-control mr-sm-2" type="search" placeholder="Search books" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
          <%= javascript_pack_tag 'autocomplete'%>

      </ul>
    </nav>
  </div>
</header>
